menu "Docker Support"

config DOCKER
	bool "Enable Kernel Support for Docker"
	default n
	select PID_NS
	select IPC_NS
	select BRIDGE_NETFILTER

	select USER_NS
	select CFS_BANDWIDTH

	select IP_VS
	select IP_VS_PROTO_TCP
	select IP_VS_PROTO_UDP
	select IP_VS_NFCT
	select IP_VS_RR
	select NETFILTER_XT_MATCH_IPVS

	select VXLAN
	select IPVLAN
	select MACVLAN
	select BRIDGE_VLAN_FILTERING

	select POSIX_MQUEUE
	select KEYS

	help
	  此开关专门针对当前内核缺少的 Docker 特性进行补偿。

endmenu
